@use '../../theVariable' as *;

.jsx_banner_primary_container {
    // background-image: url(/img/bnner_bg.png);
    width: 100%;
    background-size: cover;
    background-image: linear-gradient(0deg, #020D1B, transparent);
}

.jsx_bannermain_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    height: 95vh;
    max-width: $max-width;
    margin: 0 auto;
}

.jsx_banner_heading {
    font-size: clamp(4rem, 6.5vw, $primary-heading);
    font-family: $primary-font-family;
    width: 70%;
    text-align: center;
}

.jsx_banner_searchbar_container {
    display: flex;
    align-items: center;
    padding: 0 1rem;
    width: 55%;
    background-color: #9f9ca58c;
    border-radius: 2px;
}

.jsx_banner_searchbar_container input {
    color: $font-color;
    background-color: transparent;
    border: none;
    padding: 1rem 1rem;
    width: 100%;
}

.jsx_banner_searchbar_container input::placeholder {
    color: $font-color;
    font-size: 1.4rem;
}

.jsx_banner_searchbar_container input:focus {
    outline: none;
}

.jsx_banner_searchbar_container img {
    height: 1.3rem;
    width: 1.3rem;
}

.jsx_companyname_container {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    padding: 1rem 2rem;
    gap: 1rem;
    background-color: #9f9ca58c;
    border: none;
    border-radius: 2px;
    color: #fff;;
}

.jsx_companyname_container img {
    height: 1.8rem;
    width: 1.8rem;
}

.jsx_companyname_maincontainer {
    max-width: 80rem;
    display: flex;
    gap: 1rem;
    padding: 0rem 2rem;
    flex-wrap: wrap;
    justify-content: center;
}



// video 


.jsx-video-container {
    position: relative;
    width: 100%;
    height: 95vh;
    overflow: hidden;
}

.jsx-background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.jsx-content {
    position: relative;
    color: white;
    text-align: center;
    padding: 20px;
}

@media  all and (max-width:600px) {
    .jsx_banner_searchbar_container{
        width:80%;
    }
    .jsx_companyname_container{
        font-size: 1.2rem;
        padding: 0.7rem 1.5rem;
    }
}