@use '../../theVariable' as *;

.jsx_banner_primary_container {
    background-image: url(/img/bnner_bg.png);
    width: 100%;
    background-size: cover;
}

.jsx_bannermain_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    height: 95vh;
    max-width: $max-width;
    margin: 0 auto;
}

.jsx_banner_heading {
    font-size: clamp(4rem, 6.5vw, $primary-heading);
    width: 70%;
    text-align: center;
}

.jsx_banner_searchbar_container {
    display: flex;
    align-items: center;
    padding: 0 1rem;
    width: 55%;
    background-color: $background-glass-color-secondary;
    border-radius: 2px;
}

.jsx_banner_searchbar_container input {
    color: $font-color;
    background-color: $background-glass-color-secondary;
    border: none;
    padding: 1rem 1rem;
    width: 100%;
}

.jsx_banner_searchbar_container input::placeholder {
    color: $font-color;
    font-size: 1.4rem;
}

.jsx_banner_searchbar_container input:focus {
    outline: none;
}

.jsx_banner_searchbar_container img {
    height: 1.3rem;
    width: 1.3rem;
}

.jsx_companyname_container {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    padding: 1rem 2rem;
    gap: 1rem;
    background-color: $background-glass-color-secondary;
    border: none;
    border-radius: 2px;
}

.jsx_companyname_container img {
    height: 1.8rem;
    width: 1.8rem;
}

.jsx_companyname_maincontainer {
    max-width: 50rem;
    display: flex;
    gap: 1rem;
    padding: 0rem 2rem;
    flex-wrap: wrap;
    justify-content: center;
}