@use '../../theVariable' as *;

.jsx_primary_container {
    display: flex;
    justify-content: center;
    background: url(/img/footer_grid_bg.png);
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
    padding: 20rem 0;
}

.jsx_testimonial-container {
    max-width: $max-width;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.jsx_test_img_container img {
    width: 24rem;
}

.jsx_author_container {
    font-size: 2rem;
    font-family: $tertiary-font-family;

}

.jsx_quote_container {
    font-size:clamp(1.8rem, 2vw ,2.8rem);
    font-family: $tertiary-font-family;
    text-align: center;
    padding: 0rem 5rem;
}