@use "../../theVariable.scss" as *;

.js_card_size {
    width: 100%;
    height: 24.1rem;

}
.js_card_size.js_card_height{
    height: 45rem;
}

.js_card_container {
    font-family: $tertiary-font-family;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: flex-start;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: box-shadow 0.3s ease;
}

.js_card_container>div {
    background-color: $background-glass-color-primary;
    border-radius:$card-border-radius $card-border-radius;
    flex: 0 1 calc(33.333% - 2rem);
    // margin: rem;
}


.js_bg_img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius:$card-border-radius $card-border-radius 0 0;

}

.js_card_tag {
    font-size: $card-date-font-size;
    font-family: $tertiary-font-family;
}
.js_card_body{
    padding: 1.2rem;

}
.js_card_title {
    font-size: $card-heading-font-size;
    font-family:$secondary-font-family;
    color: $font-color;
    padding: 0.8rem 0;
    margin-bottom: 0.5rem;
}

.js_card_content {
    padding-bottom: 0.8rem;
    font-size: $card-para-font-size;
    font-family: $tertiary-font-family;
    color: $paragraph-color;
}