@use '../../theVariable.scss' as *;

.js_article_banner_sticky{
position : sticky;
top: 8rem;
background-color: #041730a6;
backdrop-filter: blur(5px);
z-index: 1;
}
.js_banner_second{
  background-color: #09192d;
}
.js_article_main_container {
    display: flex;
    justify-content: space-between;
}
.js_article_main_container >div:nth-child(1) {
  width: 69%; 
}
.js_article_main_container >div:nth-child(2) {
    width: 29%; 
 }
.js_article_main_container {
    max-width: $max-width;
    margin: 0 auto;
}

.js_article_container h4 {
    font-size:  clamp(2.8rem, 5vw, $secondary-heading);
    font-family: $secondary-font-family;
}

.js_article_container p {
    font-size: $card-date-font-size;
    font-family: $tertiary-font-family;
    padding-top: 1rem;
}

.js_banner_second_compnaycontainer {
    color: $font-color;
    display: flex;
    border: none;
    padding: 1.5rem 3rem;
    gap: 1rem;

        border-radius: 2.42px;
    width: 100%;
    .js_banner_second_companyname h6 {
        font-size: 2rem;
        text-align: left;
    }
}

.js_banner_secondinner_container {
    padding: 1.5rem;
}

.js_socialicon_container {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;

}

.js_socialicon_container button {
    width: 50px;
    height: 50px;
    background-color: $background-glass-color-secondary;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2.42px;
    border: none;
 & img{
    width:1.8rem;
 }
}
@media  all and (max-width:600px) {
    
.js_article_banner_sticky{
    position : relative;
    top: 0;
    
   z-index: 0;
    }
.js_article_main_container {
    padding: 0 3%;
    padding-top: 4rem;
   flex-direction: column;
   gap: 3rem;
    justify-content: space-between;
}
.js_article_main_container >div:nth-child(1) {
  width: 100%; 
}
.js_article_main_container >div:nth-child(2) {
    width: 100%; 
 }
}