@use '../../theVariable.scss' as *;


.js_article_main_container {
    display: flex;
    justify-content: space-between;
}
.js_article_main_container >div:nth-child(1) {
  width: 69%; 
}
.js_article_main_container >div:nth-child(2) {
    width: 29%; 
 }
.js_article_main_container {
    max-width: $max-width;
    margin: 0 auto;
}

.js_article_container h4 {
    font-size: $secondary-heading;
}

.js_article_container p {
    font-size: $card-date-font-size;
    padding-top: 1rem;
}

.js_banner_second_compnaycontainer {
    display: flex;
    border: none;
    padding: 1.5rem 3rem;
    gap: 1rem;
    background-color: $background-glass-color-secondary;
    border-radius: 2.42px;
    width: 100%;
    .js_banner_second_companyname h6 {
        font-size: 2rem;
        text-align: left;
    }
}

.js_banner_secondinner_container {
    background-color: $background-color;
    padding: 1.5rem;
}

.js_socialicon_container {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;

}

.js_socialicon_container button {
    width: 40px;
    height: 40px;
    background-color: $background-glass-color-secondary;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2.42px;
    border: none;

}