@use '../../theVariable.scss' as *;


.jsx_main_container {
    max-width: $max-width;
    margin: 0 auto;
}


.js_article_img_container {
    // width: clamp(600px, 71.5vw, 900px)
    max-width: 900px;
}

.js_article_img_container img {
    width: 100%
}

.js_search_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.js_search_container input {
    background-color: $background-color;
    border: none;
    padding: 1rem 1rem;
    width: 100%;
}

.js_search_container img {
    height: 1.8rem;
    width: 1.8rem;
}

.js_search_container input:focus {
    border: none;
    color: $font-color;
    outline: none;
}

.js_article_sidebar_top {
    width: clamp(20rem, 30vw, 35rem);
}

.js_sidebar_heading {
    display: flex;
    font-size: 2rem;
    font-family: $tertiary-font-family;
    border-bottom: 2px solid white;
    gap: 2rem;
    padding: 1rem 0rem;
    font-weight: 400;
    margin-bottom: 2rem;

}

.js_sidebar_heading_active {
    font-weight: 600;
}

.js_article_container_cards {
    display: flex;
    background-color: #87B6F124;
    height: 8rem;
    border-radius: 2px;
    margin-bottom: 2rem;
}

.js_article_container_cards img {
    width: 15rem;
    object-fit: cover;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.js_article_container_cards div {
    display: flex;
    // align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 0 .5rem;


}

.js_article_title :nth-child(1) {
    font-size: $card-date-font-size;
    font-family: $tertiary-font-family;
}

.js_article_title :nth-child(2) {
    font-size: 1.4rem;
    font-family: $tertiary-font-family;
}




// acordian

.js_container_article_data {
    display: flex;
    margin-top: 2rem;
    gap: 2rem;


}

.js_articledata_left_container {
    // width: clamp(600px, 71.5vw, 900px)
    max-width: 900px;
}

.js_article_left_inner {
    width: 100%;

}

.js_accordian_container {
    background: #041730;
    padding: 1rem 2rem;

    border-radius: 5px;

}

.js_accordian_container {
    background: #041730;
    padding: 1rem 2rem;
    border-radius: 5px;
    margin-top: 2rem;
}

.js_accordian_title {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.js_accordian_title h6 {
    font-size:clamp(2rem, 3vw, $tertiary-heading) ;
    font-family: $primary-font-family;
    padding: 1rem 0;
}

.js_accordian_title div {
    font-size: 20px;
    font-family: $tertiary-font-family;
    border: 1px solid white;
    height: 2rem;
    width: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding: 1.2rem;

}

.js_accordian_subtitle p {
    font-size: $card-heading-font-size;
    font-family: $tertiary-font-family;
    padding-bottom: 1rem;
}

// table 

.js_accordian_article {
    width: 100%;
    text-align: left;
    border: none;
}

.js_accordian_article tr {
    font-size: 23px;
    border: 1px solid white;
    border: none;

}

.js_accordian_article tr th {
    font-weight: 600;
    background-color: #455F7C;
    border: none;
}

.js_accordian_article td {
    border: none;

}



// accordian right part 

.js_articledata_right_container div:nth-child(1) {
    padding-top: 3rem;

    font-size: 23px;
    font-family: $tertiary-font-family;
    font-weight: 600;
}

.js_articledata_right_container div:nth-child(2) {
    font-size: 23px;
    font-family: $tertiary-font-family;

}