@use '../../theVariable.scss' as *;

.true_grid_pop_form{
  
    background-color: #161D27;
   border-radius: 1rem;
   max-width: 69rem;
   margin:  0 auto;
}
.true_grid_form_layout{
    display: flex;
    gap: 2.5rem;
    flex-direction: column;
    justify-content: center;
padding: 4.5rem 4rem;
color: white;
& .form_heading{
   font-size: 2.8rem;
   text-align: center;
   font-weight: 600;
}
}

.true_grid_form_field{
    color: #fff;
 padding: 1.5rem 0;
 font-size: 1.6rem;
 background: transparent;
 border: 100;
 width: 100%;
 border:  none;
 border-bottom: 1px solid #c9c5c5ed;

 &:focus{
     border: none;
     outline: none;
     border-bottom: 1px solid #c9c5c5ed;
 }
 & option{
    background-color: #161D27;
    color: $font-color;
}
}
.js_join_now_btn{
 margin-top: 3rem;
}