@use "../../../theVariable.scss" as *;

.js_company_overview_container {
    background-color: #142439;
  padding:4.5rem;
  border-radius: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.js_company_img_width{
 width: 100%;
}
.js_company_overview_container>*:nth-child(1) {
   width: 60%; 
}
.js_company_overview_container>*:nth-child(2) {
    width: 40%;
}
.column {
    flex: 1;
    margin: 10px;
}
.overview_btn{
    border: none;
    border-radius: 0.5rem;
    background-color: #9f9ca580;
    padding: 1rem; 
    display: flex;
    color: $font-color;
    gap:0.78rem;
    align-items: center;
}
.js_company_overview_buttons{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 2rem;
}

@media all and (max-width:600px){
    
    .js_company_overview_container{
        flex-direction: column;
        padding: 2rem;
    }
    .js_company_overview_container>*:nth-child(1) {
        width: 100%; 
     }
     .js_company_overview_container>*:nth-child(2) {
         width: 100%;
     }
}