//starter 

.jsx_starter_container {
    position: relative;
    background-image: linear-gradient(0deg, #020D1B, transparent);
    
}


.jsx_form_main {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    // height: 100%;
    display: flex;
    background-color: #020d1b7a;
 height: 100%;
}
.js_logo_loader{

}

.js_loader_main_container {
    // background-color: #020D1B;
    display: flex;
    align-items: end;
    justify-content: center;
    height: 100vh;
    &.bg_blur_effect{
        filter: blur(3px);
    }
}

.js_logo_loader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 200px;
  align-self: center;
}

.js_logo_loader {
    padding: .4rem;
}

.cls-1 {
    stroke-dasharray: 5000;
    stroke-dashoffset: 5000;

    animation: draw 6s linear forwards;
    /* , fillColor 3s forwards */

    fill: none;
    stroke: #b4c7de;
    stroke-miterlimit: 10;
    stroke-width: 8px;
    paint-order:fill;
    stroke-linecap: square;


}

@keyframes fillColor {
    from {
        opacity: 0;

    }

    to {

        fill: #020D1B;

    }
}

@keyframes draw {
    to {
        stroke-dashoffset: 0;
    }
}

rect {
    opacity: 1;
    animation: slideIn 10s ease-in-out forwards;
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

rect:nth-child(1) {
    animation-delay: 1s;
}

rect:nth-child(2) {
    animation-delay: 1.5s;
}

rect:nth-child(3) {
    animation-delay: 2s;
}

rect:nth-child(4) {
    animation-delay: 2.5s;
}

rect:nth-child(5) {
    animation-delay: 3s;
}

rect:nth-child(6) {
    animation-delay: 2.5s;
}

rect:nth-child(7) {
    animation-delay: 3s;
}

rect:nth-child(8) {
    animation-delay: 3.5s;
}

rect:nth-child(9) {
    animation-delay: 5s;
}


// button 

.requested_btn {
    cursor: pointer;
    border: 1px solid #fff;
    padding: .8rem 1.3em;
    font-size: 1.6rem;
    color: #fff;
    border-radius: 1rem;
    background-color: transparent;
    margin-top: 2rem;
}

// video

.js_formpop_container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}


.jsx-background-video-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;

    z-index: -1;
}